.card-body {
    width: 80rem;
    height: 20rem;
    min-height: 20rem;
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    border-radius: 4rem;

    display: grid;
    grid-template-columns: max-content 5fr;
    grid-template-rows: 1fr;
    justify-items: center;
    justify-content: center;
    align-items: center;

    &:not(:first-child) {
        margin-top: 2rem;
    }

    &:last-child {
        margin-bottom: 4rem;
    }

    @media (max-width: 900px) {
        width: 95%;
        height: max-content;
        margin: 2rem 2.5%;
    }

    &-project-name,
    &-project-languages {}

    &-project-name {
        letter-spacing: .5rem;
        font-size: 2rem;
    }

    &-project-languages {
        letter-spacing: .25rem;
        font-size: 1.5rem;
    }

    &-image {}

    &-right {
        display: grid;
        justify-items: center;
    }
}

.card-button {
    width: 6rem;
    height: 3rem;
    border-radius: 1rem;
    display: block;

    &__margin-top {
        margin-top: 1.5rem;
    }
}

.video_container {
    width: 100%;
    display: grid;
    justify-items: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all .3s;
}

.center_video {
    width: 40vw;
}