.project-image {
    width: 16rem;
    height: 16rem;
    border-radius: 2rem;
    margin-left: 2rem;
    display: block;
    object-fit: cover;
}

.projects {
    display: grid;
    justify-self: center;
    align-self: end;
    position: relative;
}