*, ul {
  font-family: 'MuseoModerno', cursive;
  padding: 0;
}

.container-fluid {
  padding: 0 0 0 0;
  margin: 0;
}
.full-page {
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header-image {
  object-fit: contain;
  background-image:  url(../assets/img/city.jpg);
  background-position: center;
  background-size: cover;
  z-index: 13;
}

.app-projects-section {
  display: flex;
  justify-content: space-evenly;
  border-bottom: .5rem solid rgb(20, 184, 196);
}