$headerHeight: 70rem;

*, ul {
  font-family: 'MuseoModerno', cursive;
  padding: 0;
}

.container-fluid {
  padding: 0 0 0 0;
  margin: 0;
}
.full-page {
  position: relative;
}

body {
  margin: 0;
  padding: 0;
}
.header-image {
  object-fit: contain;
  width: 100%;
  height: 60vh;
  background-image:  url(../assets/img/city.jpg);
  clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 0% 100%);
  background-position: center;
  background-size: cover;
  z-index: 13;
  position: absolute;
}

.app-projects-section {
  display: flex;
  justify-content: space-evenly;
  border-bottom: .5rem solid rgb(20, 184, 196);
}