$headerHeight: 70rem;

.container-fluid {
  padding: 0 1rem 0 0;
  margin: 0;
}
.full-page {
  
}

body {
  margin: 0;
  padding: 0;
}
.header-image {
  width: 100vw;
  height: 70vh;
  background-position: center;
  background-size: cover;
  border-bottom: 1rem solid rgb(20, 184, 196);
}

.body {
  display: grid;
  grid-template-columns: 1fr .25fr 2fr;
  grid-template-rows: max-content;
}

.right-side {
  display: grid;
  grid-template-rows: max-content max-content;
  grid-template-columns: 100%;
}