.projectBtn {
    width: 7rem;
    height: 4rem;
    margin-top: 3rem;
    border-radius: 2rem;
    text-decoration: none;
    outline: none;
    transition: all .3s;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.5);

    &:hover {
        transform: translateY(-.5rem);
        box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.3);
    }

    &:active {
        transform: translateY(0);
        box-shadow: 0 .75rem .75rem rgba(0, 0, 0, 0.75);
    }
}