.resume_div * {
    text-align: center;
}

.resume_div {
    border-bottom: .5rem solid rgb(20, 184, 196);
}

.certificate {
    width: 50%;
    margin: 0rem 25%;
}

@media (max-width: 900px) {
    .certificate {
        width: 80%;
        margin: 0rem 10%;
    }
}