.language-name {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: .5;
    font-size: 1.5rem;
}

.html {
    width: 6rem;
    height: 6rem;
    border-radius: 2rem;
    background: rgba(255, 255, 255, 0.5);
    margin: .5rem;

}

.css {
    width: 6rem;
    height: 6rem;
    border-radius: 2rem;
    background: rgba(255, 255, 255, 0.5);
    margin: .5rem;
}

.sass {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background: white;
    margin: .5rem;
}

.iconContainer {
    display: flex;
    align-content: center;
}

.redux {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background: white;
    margin: .5rem;
}

.react {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background: rgb(67, 217, 255);
    margin: .5rem;
}

.python {
    width: 6rem;
    height: 6rem;
    border-radius: 2rem;
    margin: .5rem;
}

.node {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background: rgb(0, 151, 0);
    margin: .5rem;
}

.mongoose {
    width: 6rem;
    height: 6rem;
    border-radius: 2rem;
    background: rgba(255, 255, 255, 0.5);
    margin: .5rem;
}

.mongodb {
    width: 6rem;
    height: 6rem;
    border-radius: 2rem;
    background: black;
    margin: .5rem;
}

.js {
    width: 6rem;
    height: 6rem;
    border-radius: 2rem;
    background: black;
    margin: .5rem;
}

.express {
    width: 6rem;
    height: 6rem;
    border-radius: 2rem;
    background: rgba(255, 255, 255, 0.5);
    margin: .5rem;
}

.git {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background: transparent;
    margin: .5rem;
    margin-bottom: 1.5rem;
}

.linkedin {
    width: 6rem;
    height: 6rem;
    border-radius: 2rem;
    margin: .5rem;
    margin-bottom: 1.5rem;
}