.node {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background: rgb(0, 151, 0);
    margin: .5rem;
}

// .iconContainer {
//     display: flex;
//     justify-content: center;
//     align-content: center;
// }