.about-me {
width: 100%;
height: max-content;
padding: 55rem 2rem 2rem 2rem;
background: linear-gradient(0.25turn, #3f87a6, #ebf8e1);
border-bottom: .5rem solid rgb(20, 184, 196);

display: grid;
grid-template-columns: 50% 50%;
// align-content: center;
// align-items: center;
justify-content: center;
justify-items: center;
transform: translateY(-4rem);
z-index: -11;
position: relative;

    &-section {
        display: grid;
        justify-items: center;
    }

    &-my_stack {
        
    }
}

.profile-pic {
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 15rem;
    height: 25rem;
}

.list{
    font-family: inherit;
    letter-spacing: .5;
    font-size: 1.5rem;
    list-style: none;
    text-align: center;
}

.bold {
    font-weight: 600;
    font-size: 1.75rem;
}